script.
	var digitalData = !{data};

h2 Digital Producer
table(border=0)
	thead
		tr
			th(width="10%") Y
			th(width="10%") N/A
			th(width="35%") Task
			th(width="45%") Known issues
	tbody
		tr
			td
				input(type="radio" name="dp[0]")
			td
				input(type="radio" name="dp[0]")
			td.left Ensure all images load and display correctly
			td.left
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta temporibus tenetur odio nemo molestiae ullam sint consequatur explicabo, itaque ratione. Quia asperiores nam, quod saepe eum placeat, impedit sequi animi.
				a.edit-issue(href="#") edit

.button-row
	button.save Save