doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js')
    script(src='/javascripts/global.js')
